.sidebar {
    padding-left: 0;
    padding-right: 0;
}
.sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.bg-faded {
  background-color: #222;
}
sidebar .nav {
    margin-bottom: 20px;
}
.sidebar .nav-item {
    width: 100%;
}
.sidebar .nav-item + .nav-item {
    margin-left: 0;
}
.sidebar .nav-item {
    width: 100%;
}
.nav-pills .nav-link.active, .nav-pills .nav-item.show .nav-link {
    color: #222;
    cursor: default;
    background-color: #ddd;
}
.nav-pills .nav-link {
    border-radius: 0;
}
.nav-link {
    display: block;
    padding: 0.5em 1em;
}
.nav-header{
  padding: 10px 15px;
  background-color: #21616d;
}
.date{
  display: inline-block;
  font-size: 12px;
  margin-bottom: 0px;
  position: absolute;
  right: 10px;
  top: 20px;
  color: #fff;
  font-weight: bold;
}
.time{
  display: inline-block;
  font-size: 12px;
  margin-bottom: 0px;
  position: absolute;
  right: 10px;
  top: 40px;
  color: #fff;
  font-weight: bold;
}
a {
    color: #fff;
    text-decoration: none;
}
// nav
.pt-3{
  padding: 0px !important;
}
.nav-content{
  height: 68px;
  background-color: #dddddd;
}
.btn-nav{
  position: absolute;
  right: 30px;
  top: 8px;
}
.title-nav{
  margin-left: 10px;
  margin-top: 12px;
}
.btn-on{
  padding: 15px 18px;
  margin-right: 5px;
  background-color: #2dd06f;
  color: #fff;
}
.btn-off{
  background-color: #f93a3a;
  color: #fff;
}
// nav end
