<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-3 hidden-xs-down bg-faded sidebar">
        <div class="nav-header">
          <img src="assets/img/logo-blanco.png" class="top-img" width="60px"/>
          <h6 class="date">99/99/9999</h6>
          <h6 class="time">00:00 pm</h6>
        </div>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">Principal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Operación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Alarmas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Auto/Manual</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tendencia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">LO_PT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">HI_PT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Producción</a>
          </li>
        </ul>
    </nav>
  </div>
</div>
<main class="col-sm-9 offset-sm-3 col-md-9 offset-md-3 pt-3">
  <nav class="navbar navbar-light bg-faded nav-content">
    <h4 class="title-nav">UNIDAD HIDRAULICA DE BOMBEO</h4>
    <div class="btn-group btn-nav" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary btn-on">ON</button>
      <button type="button" class="btn btn-secondary btn-off">OFF</button>
    </div>
  </nav>
</main>
