// nav
.pt-3{
  padding: 0px !important;
}
.nav-content{
  height: 68px;
  background-color: #dddddd;
}
.btn-nav{
  position: absolute;
  right: 30px;
  top: 8px;
}
.title-nav{
  margin-left: 10px;
  margin-top: 12px;
}
.btn-on{
  padding: 15px 18px;
  margin-right: 5px;
  background-color: #2dd06f;
  color: #fff;
}
.btn-off{
  background-color: #f93a3a;
  color: #fff;
}
// nav end
